- @todos.each do |todo|
  .container
    = simple_form_for todo, class: 'clearfix', remote: true do |f|
      .div
        %h1
          = "Editing Todo #{todo.try(:name)}"
      .div
        = f.input :title,:readonly => true
        = f.input :note,:readonly => true
        = f.input :status
      .div
        = f.submit 'Save', class: 'btn btn-primary'


